{
  "processors": [
    [
      "stylelint-processor-styled-components",
      {
        "moduleName": "lit-css"
      }
    ]
  ],
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-styled-components"
  ]
}
